:root {
  --primary-color: #4776E6;
  --complementary-color: #e64776;
  --secondary-color: #8E54E9;
  --background-color: #fbfaf4;

  --primary-text-color: #fafafa; 
  --secondary-text-color: #0e000e; 
  --header-font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  --normal-font-family: Arial, Helvetica, sans-serif;

  --navigation-font-size: 28px;
  --text-font-size: 16px;
  --primary-letter-spacing: 0.04em;
  --primary-line-height: 1.4;

  --button-border-radius: 24px;
  --button-padding: 8px 22px;
  --nav-visible-area: 600px;
}

::-webkit-scrollbar {
  height: 0px;
  width: 10px; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1); }

::-webkit-scrollbar-thumb {
  background-color: var(--hero-background); }

::-moz-selection {
  background: var(--primary-color);
  color: #f6f6f6;
  text-shadow: none; }

::selection {
  background: var(--primary-color);
  color: #f6f6f6;
  text-shadow: none; }

html {
  scroll-behavior: smooth; }

body {
  margin: 0;
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  overflow-x: hidden;
  background: white;
}


h1, h2, h3, h4, h5, h6, p {
  color: var(--primary-text-color);
  letter-spacing: var(--primary-letter-spacing);
  margin: 0;
}


/* body */

.navigation {
  display: flex;
  flex-direction: column;
  background: var(--primary-color); 
  background: -webkit-linear-gradient(to right, var(--secondary-color), var(--primary-color));  
  background: linear-gradient(to right, var(--secondary-color), var(--primary-color)); 
  width: var(--nav-visible-area);
  margin: 0 auto;
}

.navigation__header {
  margin: 0;
  padding: 15px;
  color: var(--background-color);
  text-align: center;
  letter-spacing: var(--primary-letter-spacing);
  line-height: var(--primary-line-height);
  font-size: var(--navigation-font-size);
  font-family: var(--header-font-family);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.navigation__tab {
  width: 250px;
  margin: 0 auto;
}

.navigation__tab_overlay {
  width: 100%;
  padding-top: 30px;
}

.navigation__tab_overlay .navtabs {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.navigation__tab_overlay .navtabs > div {
  width: 85%;
}

.navigation__tab_overlay .navtabs .add_tab_button {
  position: absolute;
  right: -17px;
  top: 15px;
  cursor: pointer;
  background: var(--complementary-color);
  color: var(--primary-text-color);
  padding: 1px 10px 5px 10px;
  font-size: 24px;
  border-radius: 50%;
  box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.navigation__tab_overlay .navtabs .add_tab_button:hover {
  transform: translateY(-3px);
}

.navigation__tab_overlay .chevron {
  font-family: var(--normal-font-family);
  font-size: var(--text-font-size);
  font-weight: 600;
  padding: 5px 8px;
  cursor: pointer;
}

.navigation__tab_overlay .chevron:hover {
  color: var(--complementary-color);
}

.navigation__tab_overlay .chevron_placeholder {
  padding: 5px 13px;
}

.navigation__tab_overlay .navtab_content {
  min-height: 300px;
  padding: 20px;
  padding-top: 35px;
  text-align: center;
  background: var(--background-color);
  border: 1px solid var(--primary-color);
  color: var(--secondary-text-color);
  font-size: var(--text-font-size);
  font-family: var(--normal-font-family);
  letter-spacing: var(--primary-letter-spacing);
}


.navigation__tab_overlay .tab_list {  
  /* width: 300px; */
  overflow: auto;
  white-space: nowrap;
  padding-left: 0;
  color: white;
  margin: 0;
}

.navigation__tab_overlay .tab_list_item {
  display: inline-block;
  list-style: none;
  width: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: var(--primary-letter-spacing);
  color: var(--primary-text-color);
  text-transform: capitalize;
  text-align: center;
  padding: 8px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-right: 1px solid grey;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0.7;
  position: relative;
  outline: none;
}

.navigation__tab_overlay .tab_list_active {
  background-color: var(--complementary-color);
  border: solid rgba(0, 0, 0, 0.1);
  border-width: 2px 1px 0 1px;
  color: var(--primary-text-color);
  box-shadow: 1px 8px 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 1;
}

.navigation__tab_overlay .tab_close {
  display: none;
}

.navigation__tab_overlay .tab_list_item:hover .tab_close {
  display: inline-block;
  cursor: pointer;
  font-weight: 600;
  font-size: 12px;
  background: var(--background-color);
  padding: 2px 6px 3px 6px;
  color: var(--secondary-text-color);
  border-radius: 50%;
  text-align: center;
  position: absolute;
  top: -1px;
  right: 0px;
  opacity: 0.5;
}

.navigation__tab_overlay .tab_list_item:hover .tab_close:hover {
  opacity: 1;
}

.modal {
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.8);
}

.modal__container {
  background-color: var(--primary-text-color);
  margin: 10% auto;
  border: 1px solid #555;
  width: 60%; 
  border-radius: 5px;
}

.modal__container__header,
.modal__container__body,
.modal__container__footer {
  text-align: center;
  padding: 20px;
}

.modal__container__header {
  background: var(--primary-color);
}

.modal__container__header h1 {
  font-family: var(--header-font-family);
  font-size: var(--navigation-font-size);
  letter-spacing: var(--primary-letter-spacing);
  color: var(--background-color);
  text-transform: capitalize;
}

.modal__container__body {
  margin-top: 20px;
  font-family: var(--normal-font-family);
  font-size: var(--text-font-size);
  color: var(--secondary-text-color);
  min-height: 50px;
}

.modal__container__footer {
  border-top: 1px solid rgba(0,0,0,0.1);
  background-color: var(--background-color);
}

.modal__container__footer button {
  background: var(--complementary-color);
  color: var(--background-color);
  font-family: var(--normal-font-family);
  letter-spacing: var(--primary-letter-spacing);
  padding: var(--button-padding);
  border: none;
  border-radius: var(--button-border-radius);
  cursor: pointer;
  transition: transform .1s ease,-webkit-transform .1s ease;
  box-shadow: 1px 4px 4px 2px rgba(0, 0, 0, 0.1);
  outline: none;
}

.modal__container__footer button:hover {
  transform: translateY(-3px);
}

@media only screen and (max-width: 992px) {
  .navigation__tab_overlay .tab_list_active .tab_close {
    display: inline-block;
    cursor: pointer;
    font-weight: 600;
    font-size: 12px;
    background: var(--background-color);
    padding: 2px 6px 3px 6px;
    color: var(--secondary-text-color);
    border-radius: 50%;
    text-align: center;
    position: absolute;
    top: -1px;
    right: 0px;
    opacity: 0.5;
  }
}

@media only screen and (max-width: 650px) {
  :root {
    --nav-visible-area: 400px;
  }
  .navigation__tab_overlay .navtabs > div {
    width: 80%;
  }
}

@media only screen and (max-width: 450px) {
  :root {
    --nav-visible-area: 300px;
  }
  .navigation__tab_overlay .navtabs > div {
    width: 75%;
  }
}